name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v34.136.0
        with:
          configurationFile: renovate.json
          token: ${{secrets.RENOVATE_TOKEN}}